<a href="https://colab.research.google.com/github/NancyBiyahut/ml-models/blob/main/titanic_naivebayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/content/titanic.csv")
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket',	'Fare',	'Cabin',	'Embarked'],axis ='columns',inplace =True)
df.head()

   Survived  Pclass     Sex   Age
0         0       3    male  22.0
1         1       1  female  38.0
2         1       3  female  26.0
3         1       1  female  35.0
4         0       3    male  35.0

In [ ]:
target = df.Survived
input = df.drop('Survived',axis ='columns')

In [ ]:
dummies = pd.get_dummies(input.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [ ]:
input = pd.concat([input,dummies],axis='columns')
input.head()

   Pclass     Sex   Age  female  male
0       3    male  22.0       0     1
1       1  female  38.0       1     0
2       3  female  26.0       1     0
3       1  female  35.0       1     0
4       3    male  35.0       0     1

In [ ]:
input.drop(['Sex','male'],axis='columns',inplace= True)
input.head()

   Pclass   Age  female
0       3  22.0       0
1       1  38.0       1
2       3  26.0       1
3       1  35.0       1
4       3  35.0       0

In [ ]:
input.isnull().sum()

Pclass      0
Age       177
female      0
dtype: int64

In [ ]:
input.Age = input.Age.fillna(input.Age.mean())
input.head()

   Pclass   Age  female
0       3  22.0       0
1       1  38.0       1
2       3  26.0       1
3       1  35.0       1
4       3  35.0       0

In [ ]:
input.isnull().sum()

Pclass    0
Age       0
female    0
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X_train, x_test, Y_train, y_test = train_test_split(input,target,test_size=0.3)

In [ ]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [ ]:
x_train= np.reshape(-1, 1)
y_train= np.reshape(-1, 1)
#x_test = np.reshape(-1, 1)

In [ ]:
X_train.shape

(623, 3)

In [ ]:

Y_train.shape

(623,)

In [ ]:
model.fit(X_train, Y_train)

GaussianNB()

In [ ]:
model.score(x_test,y_test)

0.8097014925373134

In [ ]:
# calculate score using cross validation
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, Y_train, cv=5)

array([0.8       , 0.752     , 0.728     , 0.77419355, 0.83064516])