In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/titanic.csv')
df

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [3]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df

     Survived  Pclass     Sex   Age     Fare
0           0       3    male  22.0   7.2500
1           1       1  female  38.0  71.2833
2           1       3  female  26.0   7.9250
3           1       1  female  35.0  53.1000
4           0       3    male  35.0   8.0500
..        ...     ...     ...   ...      ...
886         0       2    male  27.0  13.0000
887         1       1  female  19.0  30.0000
888         0       3  female   NaN  23.4500
889         1       1    male  26.0  30.0000
890         0       3    male  32.0   7.7500

[891 rows x 5 columns]

In [4]:
inputs = df.drop('Survived',axis='columns')
target = df.Survived

In [11]:
from sklearn.preprocessing import LabelEncoder
le_sex = LabelEncoder()
inputs['sex_n'] = le_sex.fit_transform(inputs['Sex'])

In [15]:

inputs

     Pclass        Age     Fare  sex_n
0         3  22.000000   7.2500      1
1         1  38.000000  71.2833      0
2         3  26.000000   7.9250      0
3         1  35.000000  53.1000      0
4         3  35.000000   8.0500      1
..      ...        ...      ...    ...
886       2  27.000000  13.0000      1
887       1  19.000000  30.0000      0
888       3  29.699118  23.4500      0
889       1  26.000000  30.0000      1
890       3  32.000000   7.7500      1

[891 rows x 4 columns]

In [24]:
inputs.dtypes

Pclass      int64
Age       float64
Fare      float64
sex_n       int64
dtype: object

In [16]:
inputs.Age[:10]

0    22.000000
1    38.000000
2    26.000000
3    35.000000
4    35.000000
5    29.699118
6    54.000000
7     2.000000
8    27.000000
9    14.000000
Name: Age, dtype: float64

In [17]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [20]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [22]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [23]:
model.score(X_test,y_test)

0.7318435754189944